body, html {
    height: 100%;
    line-height: 1.8;
    margin: 0;
   overflow-y: hidden;
}
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../img/images.jpg");;
    min-height: 100%;
    filter: grayscale(35%);
}
.w3-bar .w3-button {
    padding: 16px;
}
.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 6%;
   color: white;
   text-align: right;
   background-color: rgba(0, 90, 90, 0.3);
    
}