body, html {
    height: 100%;
    line-height: 1.8;
     margin: 0;
   overflow-y: hidden;
}
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../img/diceimage.jpg");
    min-height: 100%;
    filter: grayscale(35%);
}
.w3-bar .w3-button {
    padding: 16px;
}

#profile{
   background-color: white;
   position: absolute;
   left: 10%;
   width : 30%;
   height: 500px;
   margin-top: 4%;
   border: 2px solid #888;	
}
.form-inline{
   background-color: white;
   position: absolute;
   font-family: "Times New Roman", Times, serif;
   font-weight: bold;
   top: 5%;
   left: 7%;
   width : 80%;
   height: 80%;
}